/* base styles ----------------*/
img {
  width: 100%;
}
li {
  list-style: none;
}
span {
  display: inline-block;
}

/* layout styles ----------------*/
.header {
}
.features {
}
.products {
}
.footer {
}
/* block styles ----------------*/
/* HEADER*/
.header_background {
  z-index: -1;
  top: 55px;
  position: absolute;
}
.header_logo {
  width: 40%;
}
.header_nav ul {
  display: flex;
  justify-content: space-between;
}
.header_text {
  z-index: 1;
  top: 20px;
  position: relative;
  width: 45%;
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.button {
  background-color: #8400ff;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 6em;
  text-align: center;
  display: inline-block;
}

/* FEATURES*/
.features_card {
  display: flex;
  margin: 20px;
  padding: 10px;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
}
.features_card p {
  width: 45%;
}

.features_card_image {
  width: 6%;
}

/* PRODUCTS*/
.products_text {
  margin: 5px;
  padding: 5px;
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: left;
}
.products_image {
  width: 30%;
}
.products_image_container {
  display: grid;
  justify-items: center;
  /* grid-column-end: span; */
  grid-template-areas:
    "slack trello"
    "google jira"
    "asana .";
}
.slack {
  grid-area: slack;
}
.trello {
  grid-area: trello;
}
.asana {
  grid-area: asana;
  position: relative;
  left: 90px;
}
.jira {
  grid-area: jira;
}
.google {
  grid-area: google;
}
/* FOOTER*/
.footer_text {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  color: black;
}
.footer_background {
  z-index: -1;
  background: linear-gradient(229.93deg, #ab00ff -21.91%, #007bff 133.89%);
  position: absolute;
}
.footer_form input ::placeholder {
  width: 100%;
  height: 2.5rem;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
  border-radius: 34.5px;
}
.footer_btn {
  position: absolute;
  width: 10rem;
  height: 2.8rem;
  background-color: white;
  color: #ab00ff;
  border-radius: 3rem;
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
}
.footer_nav {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 30px;
  text-align: right;
  letter-spacing: 1.04167px;
  text-transform: uppercase;
  color: #f1f1f1;
}

/* Desktop Layout */
@media (min-width: 550px) {
}
